{% extends "quotes/base.html" %}

{% block title %}
   {{ title }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block mainpage %}
   <div>

   <div id = "quote-container">
     <div id = "LS" class = "side-filler">
     </div>

     <div id = "RS" class = "side-filler">
     </div>

     <div id = "QuoteLikeRefresh">

          <div id = "horiz">
          </div>

          <div id = "Quote">
            <div id = "quotelives">
               <h1 id = "actualquote">
               {% if not singleQuote %}
                      Quote not found!!
               {% else %}
                   {{ singleQuote.content }}
               {% endif %}
               </h1>
            </div>
          </div>

          <div id = "LikeRefresh">
                   <div id = "LikeDislike">
                         <div id = "leftspace" class = "likedislikespace">
                         </div>

                         <div id = "rightspace" class = "likedislikespace">
                         </div>

                         <div id = "ThumbsUp">
                         </div>

                         <div id = "middleoflikes">
                         </div>

                         <div id = "ThumbsDown">
                         </div>  
                   </div>
 
                 <div id = "RefreshSpace">
                     <div id = "Rleftspace" class = "Rspace">
                     </div>

                     <div id = "Rrightspace" class = "Rspace">
                     </div>

                     <div id = "Refresh">
                     </div>
                 </div>
          </div>
     </div>
     
 
   </div>

   <div id = "bottomNav">
      <div id = "socialShare">
         <div id = "shareButton_fb" class = "shareButton"></div>
         <div id = "shareButton_tw" class = "shareButton"></div>
         <div id = "shareButton_gp" class = "shareButton"></div>
      </div>

      <div id = "Likes">
            <div id = "LEFT">
	              <div id = "likecount" class = "counticon">
	              </div>

	              <div id = "likenum" class = "number">
	                  <p> 2,800 </p>
	              </div>
            </div>

            <div id = "middleofcounts">
            </div>

            <div id = "RIGHT">
	              <div id = "dislikecount" class = "counticon">
	              </div>

	              <div id = "dislikenum"  class = "number">
	                  <p> 1,345 </p>
	              </div>
            </div>

            
      </div>

      <div id = "FbLikes-filler">
      </div>

   </div>

  
   
   </div>
{% endblock %}

{% block scripts %}
<script>
  var respos;
  var resneg;
  var clicked = [false, false];
</script>
<script>
  function inc() {
    $.ajax({
    url: "inc",
    type: "GET",
    data: {"hello": "This was sent from the Client!", "qHash": "{{ quoteIdHash }}" }
    }).done(function(data) {
       console.log("Ajax Response Successful!");
       console.log(data);
    });
  }
</script>
<script>  
   $("#shareButton_fb").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );
   $("#shareButton_tw").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );
   $("#shareButton_gp").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );

   function thumbsupclick() {
     clicked[0] = true;
     console.log("Thumbs Up");
     disableThumbs();
   }

   function thumbsdownclick() {
     clicked[1] = true;
     console.log("Thumbs Down");
     disableThumbs();
   }

   function disableThumbs() {
     $("#ThumbsUp").unbind("click");
     $("#ThumbsDown").unbind("click");
   }

   function enableThumbs() {
     $("#ThumbsUp").bind("click", thumbsupclick);
     $("#ThumbsDown").bind("click", thumbsdownclick);
   }

   $("#ThumbsUp").bind("click", thumbsupclick);

   $("#ThumbsDown").bind("click", thumbsdownclick);

   function populateTags() {
      var loc = document.location;
      var dataloc = encodeURIComponent(document.location);
      $("#m_fb_title").attr("content", "{{ title }}");
      $("#m_fb_url").attr("content", loc);
      $("#m_fb_descr").attr("content", "Inspirational daily quotes! The quote of the hour is: '{{ singleQuote.content }}'");
      $("#m_fb_image").attr("content", loc + "static/quotes/img/sharepic.png");
   }

   function gatherQuote() {
      if( !clicked[0] && !clicked[1] )
        return "{{ singleQuote.content }}";
      else if( clicked[0] && !clicked[1] )
        return respos;
      else if( !clicked[0] && clicked[1] )
        return resneg;
   }

   (function($) {
      populateTags();
      respos = "{{ singleQuote.respos|safe }}";
      resneg = "{{ singleQuote.resneg|safe }}";
      console.log("respos: " + respos);
      console.log("resneg: " + resneg);
   })(jQuery);
   
</script>
{% endblock %}