{% extends "quotes/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block mainpage %}
   <div>

   <div id = "quote-container">
     <div id = "LS" class = "side-filler">
     </div>

     <div id = "RS" class = "side-filler">
     </div>

     <div id = "QuoteLikeRefresh">

	        <div id = "horiz">
	        </div>

	        <div id = "Quote">
            <div id = "quotelives">
               <h1 id = "actualquote">
				       {% if not singleQuote %}
				              Quote not found!!
						   {% else %}
						       {{ singleQuote.content }}
						   {% endif %}
						   </h1>
					  </div>
	        </div>

	        <div id = "LikeRefresh">
                   <div id = "LikeDislike">
                         <div id = "leftspace" class = "likedislikespace">
                         </div>

                         <div id = "rightspace" class = "likedislikespace">
                         </div>

                         <div id = "ThumbsUp">
                         </div>

                         <div id = "middleoflikes">
                         </div>

                         <div id = "ThumbsDown">
                         </div>  
                   </div>
 
                 <div id = "RefreshSpace">
                     <div id = "Rleftspace" class = "Rspace">
                     </div>

                     <div id = "Rrightspace" class = "Rspace">
                     </div>

                     <div id = "Refresh">
                     </div>
                 </div>
          </div>
     </div>
     
 
   </div>

   <div id = "bottomNav">
      <div id = "socialShare">
         <div id = "shareButton_fb" class = "shareButton"></div>
         <div id = "shareButton_tw" class = "shareButton"></div>
         <div id = "shareButton_gp" class = "shareButton"></div>
      </div>

      <div id = "Likes">
      </div>

      <div id = "FbLikes-filler">
      </div>

   </div>

  
   
   </div>
{% endblock %}

{% block scripts %}
<script>
  function inc() {
    $.ajax({
    url: "inc",
    type: "GET",
    data: {"hello": "This was sent from the Client!", "qHash": "{{ quoteIdHash }}" }
    }).done(function(data) {
       console.log("Ajax Response Successful!");
       console.log(data);
    });
  }
</script>
<script>
   $("#shareButton_fb").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );
   $("#shareButton_tw").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );
   $("#shareButton_gp").hover(
      function(){
        $(this).addClass("shareButtonOver");
      },
      function(){
        $(this).removeClass("shareButtonOver");
      }
    );

   function populateTags() {
      
   }
   
</script>
{% endblock %}